Repository voxpupuli/puppet-cron, pull requests merged in 2020-01, with the labels that each got.

#78 modulesync 2.10.1
  .msync.yml
  .rubocop.yml
  .travis.yml
  Gemfile
  Rakefile
  spec/spec_helper.rb
  spec/spec_helper_methods.rb
Labels: modulesync

#75 Changes the defaults of the cronjob-files from 644 to 600
  README.md
  manifests/daily.pp
  manifests/hourly.pp
  manifests/job.pp
  manifests/job/multiple.pp
  manifests/monthly.pp
  manifests/weekly.pp
  spec/defines/daily_spec.rb
  spec/defines/hourly_spec.rb
  spec/defines/job_spec.rb
  spec/defines/monthly_spec.rb
  spec/defines/weekly_spec.rb
Labels: enhancement

#79 release 2.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
