Repository voxpupuli/puppet-cron, pull requests merged in 2024-07, with the labels that each got.

#137 modulesync 9.1.0
  .github/CONTRIBUTING.md
  .github/labeler.yml
  .github/release.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .msync.yml
  .puppet-lint.rc
  Gemfile
  spec/spec_helper.rb
Labels: modulesync

#136 Add support for FreeBSD 14
  metadata.json
Labels: enhancement

#140 Release 4.2.0
  CHANGELOG.md
  REFERENCE.md
  manifests/job/multiple.pp
  metadata.json
  templates/multiple.epp
  templates/multiple.erb
Labels: skip-changelog
